#contact {
    height: 1300px;
    background-color: #E0C7E6;
}

#container {
    height: 703px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 240px;
}

#titleContact {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #F6FAFB;
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 30px;
    justify-content: center;
    display: flex;
    margin-top: 200px;
}

#pContact {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #F6FAFB;
    justify-content: center;
    grid-column: 1/5;
    grid-row: 2;
    z-index: 1; 
    margin-top: 100px;
}

button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #F6FAFB;
    border-radius: 29px;
    box-sizing: border-box;
    color: #F6FAFB;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    min-height: 50px;
    min-width: 350px;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: 160px;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }

.circle1 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 10px solid #F6FAFB;
    grid-column: 3/4;
    grid-row: 1;
}

.circle2 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 10px solid #F6FAFB;
    grid-column: 3/4;
    grid-row: 4;
}

@media screen and (min-width:768px) {
}