.hidden {
  display: none;
}

#main-header{
  background-color: #ECDBEF;
  height: 83px;
}

#main-logo{
  height: 83px;
  margin: 0px;
  grid-column: 4;
  margin-top: 22px;
}

#main-logo img{
  width: 50%;
}

#burger-nav{
  order: -1;
  height: 83px;
  margin: 0px;
  padding: 0;
}


#burger-nav label img{
  height: 83px;
  transition: all .5s ease;
  cursor: pointer;
  width: 70%;
}

#burger-nav input, #burger-con{
  display: none;
}

#burger-nav input:checked ~ #burger-con {
  display: block;
  position: absolute;
  transform: translateX(-5px);
  background-color: #ECDBEF;
  width: 300px;
}

#burger-nav input:checked ~ label img{
  transform: rotate(-90deg);
}

#burger-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

#burger-nav li a {
  display: block;
  /* trbl */
  padding: 10px 0 10px 0;
  text-align: center;
  color: #ffffff;
}

#burger-nav li {
  border-bottom: 1px solid #efefef;
}

#burger-nav li:first-child {
  border-top: 1px solid #efefef;
}

#burger-nav:last-child {
  margin-bottom: 10px;
}

#main-icon1{
  display: none;
}
#main-icon2{
  display: none;
}
#main-nav{
  display: none;
}