#hero {
    height: 636px;
    background-color: #001219;
}

.t.hero {
    color: transparent;
    stroke: 3px #E9D8A6;
}

.img1 {
    height: 162px;
    width: 112px;
    grid-row: 1/2;
}

.img2 {
    height: 162px;
    width: 112px;
    grid-row: 3/4;
}

@media screen and (min-width:768px) {
    #hero {
        height: 800px;
    }

    #img-hero {
        grid-column: 4/12;
    }

    #p-hero {
        margin-left: 380px;
        margin-top: 15px;
    }
}

@media screen and (min-width:1200px) {
    #hero {
        height: 703px;
    }

    #img-hero {
        grid-column: 5/12;
    }

    #p-hero {
        margin-top: 130px;
        margin-left: 670px;
    }
}

@media screen and (min-width:1920px) {
    #hero {
        height: 988px;
    }

    #p-hero {
        grid-column: -5/-2;
        font-size: 40px;
        margin-left: 20px;
        margin-top: 20px;
    }
}