#contactForm {
    height: 1200px;
    background-color: #ECDBEF;
}

#contactTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #F6FAFB;
    grid-column: 1/5;
    margin-top: 50px;
    
    grid-row: 1;
}

#contactTitle1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #F6FAFB;
    grid-column: 1/4;
    margin-top: 195px;
    grid-row: 1;
}

#form {
    grid-row: 2;
    grid-column: 1/5;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input[type=text] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

textarea {
    width: 400px;
}

#comments {
    width: 300px;
    height: 200px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

#thanks {
    height: 100px;
    color: #ECDBEF;
    
}

#textThanks {
    font-family: 'Roboto', sans-serif;
    color:#F6FAFB;
    grid-column: 2/4;
    margin-top: 200px;
    text-align: center;
}

@media screen and (min-width:768px) {
#contactForm {
    height: 1350px;
}

#contactTitle {
    font-size: 80px;
    grid-column: 2/11;
    margin-top: 10px;
}

#contactTitle1 {
    font-size: 60px;
    grid-column: 2/11;
    margin-top: 155px;
}

#form {
    grid-column: 3/11;
}

input {
    width: 400px;
}

#comments { 
    width: 400px;
}

#thanks {
    height: 200px;
    
}

#textThanks {
    grid-column: 2/11;
    margin-top: 30px;
}
}

@media screen and (min-width:1200px) {
#contactForm {
    height: 1350px;
}

#contactTitle {
    font-size: 80px;
    grid-column: 4/11;
    margin-top: 90px;
}

#contactTitle1 {
    font-size: 60px;
    grid-column: 4/11;
    margin-top: 205px;
}

#form {
    grid-column: 4/11;
    margin: 10px;
}

input {
    width: 600px;
}

#comments { 
    width: 600px;
}

#thanks {
    height: 200px;
    
}

#textThanks {
    grid-column: 3/11;
    margin-top: 190px;
    font-size: 40px;
    display: flex;
    
}

}

@media screen and (min-width:1920px) {
#contactForm {
    height: 1500px;
}

#contactTitle {
    font-size: 100px;
    grid-column: 5/11;
    margin-top: 90px;
}

#contactTitle1 {
    font-size: 50px;
    grid-column: 5/11;
    margin-top: 205px;
}

#form {
    grid-column: 4/11;
    margin: 10px;
    grid-row: 1;
    margin-top: 350px;
    margin-left: 150px;
}

input {
    width: 600px;
}

#comments { 
    width: 600px;
}

#thanks {
    height: 200px;
    
}

#textThanks {
    grid-column: 3/11;
    font-size: 40px;
    display: flex;
    margin-top: 300px;
}

}