#contactForm {
    height: 900px;
    background-color: #ECDBEF;
}

#titleS {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #F6FAFB;
    grid-column: 1/5;
    margin-top: 10px;
    grid-row: 1;
}

#titleS1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #F6FAFB;
    grid-column: 1/4;
    margin-top: 5px;
    grid-row: 1;
}

#form {
    grid-row: 2;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }